**/__pycache__/
*.pyc
.idea
data/The_Beatles_Annotations/song/
data/beatle_data_complete.json
data/McGill-Billboard/
data/chroma_arrays/
data/gc14ux-jamendo-by-nc-sa-subset.zip
data/maps/
data/music/
data/beatle_data*.json
